In [9]:
# Import modules
import pandas as pd
import datetime as dt
import hvplot.pandas

In [10]:
# Set DataFrame
unrate_df = pd.read_csv('./UNRATENSA.csv')
unrate_df.head(10)

         DATE  UNRATENSA
0  2010-01-01       10.6
1  2010-02-01       10.4
2  2010-03-01       10.2
3  2010-04-01        9.5
4  2010-05-01        9.3
5  2010-06-01        9.6
6  2010-07-01        9.7
7  2010-08-01        9.5
8  2010-09-01        9.2
9  2010-10-01        9.0

In [11]:
# Rename columns and convert 'Date' column to datetime format
unrate_df.rename(columns={'DATE':'Date', 'UNRATENSA':'unrate'}, inplace=True)
unrate_df['Date'] = pd.to_datetime(unrate_df['Date'])
unrate_df.sort_values(by=['Date'],inplace=True)
unrate_df.head(10)

        Date  unrate
0 2010-01-01    10.6
1 2010-02-01    10.4
2 2010-03-01    10.2
3 2010-04-01     9.5
4 2010-05-01     9.3
5 2010-06-01     9.6
6 2010-07-01     9.7
7 2010-08-01     9.5
8 2010-09-01     9.2
9 2010-10-01     9.0

In [12]:
# Lookup dates from 04-30-2010 to 03-01-2020
unrate_df_lkup = (unrate_df['Date'] > '2010-04-30') & (unrate_df['Date'] <= '2020-03-01')
unrate_df = unrate_df.loc[unrate_df_lkup]
unrate_df.head(10)

         Date  unrate
4  2010-05-01     9.3
5  2010-06-01     9.6
6  2010-07-01     9.7
7  2010-08-01     9.5
8  2010-09-01     9.2
9  2010-10-01     9.0
10 2010-11-01     9.3
11 2010-12-01     9.1
12 2011-01-01     9.8
13 2011-02-01     9.5

In [13]:
# Reset the index and drop the index column
unrate_df.reset_index(inplace=True)
unrate_df.drop(columns=['index'], inplace=True)
unrate_df.set_index(['Date'], inplace=True)
unrate_df.head(10)

            unrate
Date
2010-05-01     9.3
2010-06-01     9.6
2010-07-01     9.7
2010-08-01     9.5
2010-09-01     9.2
2010-10-01     9.0
2010-11-01     9.3
2010-12-01     9.1
2011-01-01     9.8
2011-02-01     9.5

In [14]:
# Plot the DataFrame
unrate_df.hvplot(height=500, width=1200)

:Curve   [Date]   (unrate)