In [1]:
# Import modules
import pandas as pd
import requests
import datetime as dt
import time

In [2]:
# Download csv from URL and allow 10 seconds before moving to the next cell for file to update
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
file_request = requests.get(url, allow_redirects=True)
with open("covid_cases.csv", "wb") as file:
    file.write(file_request.content)
time.sleep(10)

In [3]:
# Read csv into DataFrame
covid_df = pd.read_csv('covid_cases.csv')

In [4]:
us_cases_lkup = (covid_df['iso_code'] == 'USA')
us_cases_df = covid_df.loc[us_cases_lkup]
us_cases_df = us_cases_df[['date', 'total_cases', 'new_cases', 'total_cases_per_million', 'new_cases_per_million']]
us_cases_df

,date,total_cases,new_cases,total_cases_per_million,new_cases_per_million
16577,2019-12-31,0,0,0.000,0.000
16578,2020-01-01,0,0,0.000,0.000
16579,2020-01-02,0,0,0.000,0.000
16580,2020-01-03,0,0,0.000,0.000
16581,2020-01-04,0,0,0.000,0.000
...,...,...,...,...,...
16710,2020-05-12,1347916,18117,4072.221,54.734
16711,2020-05-13,1369964,22048,4138.831,66.610
16712,2020-05-14,1390746,20782,4201.616,62.785
16713,2020-05-15,1417889,27143,4283.618,82.002
16714,2020-05-16,1443397,25508,4360.681,77.063

In [5]:
# Convert 'date' values to datetime and sort by date
us_cases_df['date'] = pd.to_datetime(covid_df['date'])
us_cases_df.sort_values(by=['date'],inplace=True)
us_cases_df.set_index(['date'], inplace=True)
us_cases_df

,total_cases,new_cases,total_cases_per_million,new_cases_per_million
date,,,,
2019-12-31,0,0,0.000,0.000
2020-01-01,0,0,0.000,0.000
2020-01-02,0,0,0.000,0.000
2020-01-03,0,0,0.000,0.000
2020-01-04,0,0,0.000,0.000
...,...,...,...,...
2020-05-12,1347916,18117,4072.221,54.734
2020-05-13,1369964,22048,4138.831,66.610
2020-05-14,1390746,20782,4201.616,62.785
2020-05-15,1417889,27143,4283.618,82.002
2020-05-16,1443397,25508,4360.681,77.063

In [6]:
# Export cleaned data to csv
us_cases_df.to_csv('covid_clean.csv')